codigo-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  > * + * {
    margin-top: 25px;
  }
}
.codigo-header {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px dashed var(--border-color);
}
.codigo-header__content {
  h1 {
    margin-top: 20vh;
    margin-bottom: 10px;
    font-size: 10em;
    font-weight: 900;
    color: var(--color-text);
  }
}
.codigo-header__image {
  flex-grow: 1;
  margin-left: 40px;
  height: auto;
  background-image: url("resources/hello.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;   
  background-origin: content-box;
  padding: 40px;
  background-color: var(--color-text);
  border-radius: 25px;
}

@media (max-width: 900px) {
  .codigo-header {
    flex-direction: column;
  }
  .codigo-header__content {
    h1 {
      font-size: 7em;
      margin-top: 60px;
    }
  }
  .codigo-header__image {
    background-position: center;
    order: -1;
    margin-top: 20px;
    height: 300px;
    margin-left: initial;
  }
}