<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>codigo.at - Stefan Heim</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto:400,500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/29c31a9178.js" crossorigin="anonymous"></script>
  <link rel="icon" href="resources/favicon.png">
  <base href="/">
</head>

<body>
  <codigo-app></codigo-app>
</body>

</html>
