body {
  background-color: #F8F8F8;
  background-image: url("./resources/background.png");
  font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  margin: 0;
}
button {
  appearance: none;
  background-color: #efefef;
  border: 1px solid #ddd;
  font-size: 0.9em;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }
  &:active {
    background-color: #efefef;
  }
}
input, textarea, select {
  appearance: none;
  padding: 5px 10px;
}